<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>{{ page.title }} | {{ site.title }}</title>
        <link id="favicon" rel="shortcut icon" type="image/svg" href={{ "/img/robot.svg" | absolute_url }} />
        <link rel="stylesheet" type="text/css" href={{ "/css/index.css" | absolute_url }} />
        {% for stylesheet in page.custom_css %}
        <link rel="stylesheet" type="text/css" href={{ stylesheet | absolute_url }} />
        {% endfor %}
    </head>

    <header>
        <a href={{ "/index#top" | absolute_url }}>
            <img src="./img/robot.svg" alt="cool robot logo" height="130" align="left" />
        </a>

        <a href={{ "/index#top" | absolute_url }}>
            <h1 style="margin-left:15.5%;">
                <font color="#0A0A0A" style="font-weight:bold;">Enrique Heredia Aguado</font>
                <font color="#979797" style="font-weight:normal;">&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;Robotics Engineer</font>
            </h1>
        </a>

        <nav>
            <a href={{ "/index#top" | absolute_url }}>CV</a>
            <a href={{ "/about#top" | absolute_url }}>About</a>
            <a href={{ "/projects#top" | absolute_url }}>Projects</a>
            <a href={{ "/gallery#top" | absolute_url }}>Gallery</a>
        </nav>
    </header>

    <body>
        {{ content }}
    </body>
    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    {% for jsfile in page.custom_js %}
    <script src={{ jsfile | absolute_url }} ></script>
    {% endfor %}

</html>